@import '@/assets/scss/_main';


.login{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    background-color: $gray;
    .content-login{
        width: 25rem;
        height: 28rem;
        background-color: $purple;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 52px;
        background: linear-gradient(45deg, #918ae1, #aca4ff);
        box-shadow:  30px -30px 59px #6963a3,
             -30px 30px 59px #d9cfff;
        header{
            width: 100%;
            display: flex;
            justify-content: center;
            h1{
                font-size: 28px;
                color: $white;
            }
        }
        @media (max-width: 700px){
            width: 19rem;
            height: 23rem;
        }
    }
}